/*Importações CSS/SASS*/

/*Importando a fonte*/
@import url("/assets/fonts/main-font/grotesque.css");
/*Importando as configurações do post*/
@import url("/assets/css/post.scss");


/*Principal*/

body {
  font-family:'Terminal Grotesque';
}

/*Barra de navegação*/
.current {
  color: green;
}
.another {
    color: pink;
}