
@import url("/assets/fonts/main-font/grotesque.css");

body {
  color: #ffffff;
  font-family:'Terminal Grotesque';
  background-color: #000000;
}


.current {
  color: rgb(229, 255, 0);
}
.another {
    color: rgb(255, 0, 43);
}