#post-text {
  border: solid #ff0000;
  padding: 1em;
  margin: 0 100px;
   p {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;

      img {
        padding: 1em;
        }
    }
}